@model PedidoModel

<div class="container">
    <h1 class="text-primary">CRUD - Fechar</h1>
    <hr>
    <h4>Deseja realmente fechar o pedido <span class="text-danger">@Model.IdPedido.ToString("D4")</span> ?</h4>
    
    <hr>
    
    <h6>Cliente: <b class="text-dark">@Model.Cliente.Nome</b></h6>

    @if (Model.DataEntrega.HasValue)
    {
        <h6>Endereço de entrega: @Model.EnderecoEntrega.EnderecoCompleto</h6>
    }

    <hr>

    @if (Model.ItensPedido.Count() > 0)
    {
        <h6><b>Itens do Pedido:<b></h6>
        <hr>

        @foreach (var item in Model.ItensPedido)
        {
            <h6>@item.Produto.Nome (@item.Quantidade x @item.ValorUnitario.ToString("C2") = @item.ValorItem.ToString("C2"))</h6>
        }

        <hr>

        <h6><b>Valor Total do Pedido: @Model.ValorPedido.Value.ToString("C2")</b></h6>
    }
    else
    {
        <h6><b>Não há itens nesse pedido.</b></h6>
    }

    <h4>Deseja realmente fechar esse pedido?</h4>

    <form asp-action="Fechar" class="w-25">
        <input type="hidden" asp-for="@Model.IdPedido">

        <div class="mt-3">
            @if (!Model.DataPedido.HasValue && Model.ItensPedido.Count() > 0)
            {
                <a asp-action="Index" asp-route-pid="@Model.IdPedido" class="btn btn-success">Não</a>
                <button class="btn btn-danger" type="submit">Sim</button>
            }
            else
            {
                <a asp-action="Index" asp-route-pid="@Model.IdPedido" class="btn btn-outline-info">Voltar</a>
            }
        </div>

    </form>
</div>