@model IEnumerable<CategoriaModel>
@{
    string subtitulo = ViewBag.Subtitulo as string;
}


<Header class="d-flex justify-content-between align-items-lg-center">
    <div>
        <h1 class="text-primary">@subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Nova Categoria</a>
    </div>
</Header>
<hr>

<partial name="_Mensagem"></partial>

@if (Model.Count() > 0)
{
    <table class="table table-striped tabela-categorias">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Data de Cadastro</th>
                <th>Data Última Alteração</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.IdCategoria</td>
                    <td>@categoria.Nome</td>
                    <td>@(categoria.DataCadastro.Value)</td>
                    <td>@(categoria.DataUltimaAtualizacao)</td>
                    <td>@(categoria.Ativo ? "Ativo" : "Inativo")</td>
                    <td>
                        <a asp-action="Cadastrar" asp-route-id="@categoria.IdCategoria" class="btn btn-sm btn-secondary">
                            <i class="bi-pencil" title="Alterar cliente"></i>
                        </a>
                        <a asp-action="Excluir" asp-route-id="@categoria.IdCategoria" class="btn btn-sm btn-danger">
                            <i class="bi-trash" title="Excluir cliente"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma categoria cadastrada. Para cadastrar <a asp-action="Cadastrar">clique aqui</a>.</p>
}

@section Scripts{
<script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>
}